{% extends "page.html" %}

{% block content %}
{{ super() }}
<div style="display: flex; justify-content: center;">
  <div class="logo" style="display: flex; flex-flow: row nowrap; justify-content: space-evenly; width: 80%;">
    <a class="shadowed" href="https://console.basthon.fr">
      <img id="basthon-console" src="{{ SITEURL }}/theme/assets/img/basthon-console.svg" alt="Basthon-Console" title="Basthon-Console" style="height: 10vw;"/>
    </a>
    <a class="shadowed" href="https://notebook.basthon.fr">
      <img id="basthon-notebook" src="{{ SITEURL }}/theme/assets/img/basthon-notebook.svg" alt="Basthon-Notebook" title="Basthon-Notebook" style="height: 10vw;"/>
    </a>
  </div>
</div>
<div class="logo" style="position: absolute; bottom: 5px; left: 0; display: flex; justify-content: center;">
  <a class="shadowed" href="{{ SITEURL }}/doc.html">
    <img id="help" src="{{ SITEURL }}/theme/assets/img/life-ring.svg" alt="Accéder à la documentation de Basthon" title="Accéder à la documentation de Basthon" style="height: 5vw;"/>
  </a>
</div>
<div style="position: absolute; top: 10px; left: 10px;">
  <a href="https://framagit.org/casatir/basthon-kernel/-/commits/master" target="_blank" rel="noopener noreferrer">
    <img src="https://framagit.org/casatir/basthon-kernel/badges/master/pipeline.svg" />
  </a>
</div>
{% endblock %}
