<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Basthon</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/style.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <object type="image/svg+xml" data="theme/assets/img/ribbon.svg" style="width: 8vw; position: absolute; top: 0; right: 0; border: 0; z-index:100;">
    </object>
    <a class="shadowed" target="_blank" rel="noopener noreferrer" href="about.html" style=" position: absolute; bottom: 0; right: 0; margin: 10px; z-index:100;">
    </a>
    <div class="title" style="vertical-align: middle;">
      <img src="{{ SITEURL }}/theme/assets/img/basthon.svg" class="shadowed" alt="Basthon" style="width: 30vw; vertical-align: middle;" />
    </div>
    <div id="subtitle" style="text-align: center; font-size: 1.17vw; margin-bottom: 0.5vw; color: #888;">
      Un bac à sable pour Python, dans le navigateur !
    </div>
    <div id="menu">
      <nav>
	<ul class="menu">
	  <li><a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/assets/img/home.svg" style="width: 1.5vw;"/></a></li>
	  <li><a href="https://console.basthon.fr"> Console</a>
	  </li>
	  <li><a href="https://notebook.basthon.fr"> Notebook</a>
	  </li>
	  <li><a href="{{ SITEURL }}/about.html"> Le Projet</a>
	  </li>
	  <li><a href="{{ SITEURL }}/galerie.html"> Galerie</a>
	  </li>
	  <li><a href="{{ SITEURL }}/doc.html"> Documentation</a>
	  </li>
	  <li><a href="{{ SITEURL }}/contrib.html"> Contribuer</a>
	  </li>
	</ul>
	<div class="clearfix"></div>
      </nav>
    </div>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
    {% block endbody %}
    {% endblock %}
  </body>
</html>
