html {
    /* fix jumping scrollbar */
    margin-left: calc(100vw - 100%);
}

body {
    background-color: #f8f8f8;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(35, 35, 35);
}

h1 {
    text-align: center;
}

.main {
    padding-left: 5vw;
    padding-right: 5vw;
}

.title {
    width: 100%;
    text-align: center;
    padding: 2vh 0vh 0vh 0vh;
}

.logo {
    width: 100%;
    text-align: center;
    padding: 5vh 0vh 0vh 0vh;
}

.shadowed {
    filter: drop-shadow( 1vh 1vh 0.6vh rgba(0, 0, 0, .5));
}

a:hover {
    filter: drop-shadow( 1vh 1vh 0.6vh rgba(0, 0, 0, 0));
}

menu, nav {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#menu ul {
    list-style: none;
}

.clearfix {
    clear: both;
}

nav {
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0,0,0,0.4);
    padding: 0 1vw;
    position: relative;
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
}

.menu li {
    float: left;
    position: relative;
}

.menu li a {
    color: #444;
    display: block;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 0.5vw 1vw;
    margin: 0.4vw 0.4vw;
    vertical-align: middle;
    text-decoration: none;
}

.menu li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 0.5vw;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/* Persistant Hover State */
.menu li:hover a {
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 0.5vw;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
          color: #222;
}

.menu li:hover ul a {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.menu li:hover ul li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 0.5vw;
    box-shadow: inset 0px 0px 0.2vw 0.1vw rgba(0,0,0,0.3);
}
